:root {
  /* Colors */
  --primary-blue: #2b4cca;
  --secondary-blue: #3858d6;
  --dark-blue: #1f3e72;
  --transparent-white: rgba(255, 255, 255, 0.87);
  --blue-gradient: linear-gradient(90deg, rgba(53,152,230,1) 0%, rgba(54,96,218,1) 100%);
  --background-square: #f4f6fb;
  --shadow-blue: rgba(77, 133, 255, 0.51);
  --shadow-blue-icon: rgba(94, 137, 255, 0.247);
  --yellow-icon: #fff8dd;
  --blue-icon: #dde5fc;
  --blue-white: #eef3fe;
  --border-blue: rgba(137, 188, 255, 0.233);
  --grey: #6d7b93;

}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-family: 'Montserrat', sans-serif;
}

/* Header styles */
header {
  display: flex;
  position: absolute;
  z-index: 5;
  width: 100%;
  height: 100px;
  align-items: center;
  justify-content: space-between;
  background-color: var(--transparent-white);
  backdrop-filter: blur(3px);
}
header .title {
  margin-left: 9%;
  font-size: 24px;
  font-weight: 700;
  color: var(--secondary-blue);
}
header .navbar {
  width: 640px;
  margin-right: 9%;
}
header ul, a {
  color: var(--grey);
  align-items: center;
  list-style: none;
  text-decoration: none;
}
header ul {
  display: flex;
  justify-content: space-between;
}
.btn-custom {
  color: white;
  cursor: pointer;
  padding: 14px 25px;
  background-color: var(--primary-blue);
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 44, 139, 0.25);
}
header ul .btn-custom a {
  color: white;
}

/* Section Main Styles */
.main {
  display: flex;
  width: 100%;
  height: 100vh;
}
.background-square {
  position: absolute;
  z-index: 4;
  top: -40px;
  left: 60px;
  width: 160px;
  height: 160px;
  background-color: var(--background-square);
  transform: rotate(45deg);
}
.main .container-info {
  width: 50%;
  height: 100vh;
  padding: 12% 9%;
  background-color: white;
}
.main .container-info h1 {
  width: 350px;
  color: var(--dark-blue);
  font-size: 42px;
}
.main .container-info p {
  width: 360px;
  margin: 24px 0;
  color: var(--grey);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
}
.pins-info {
  display: flex;
  width: 350px;
  align-items: center;
}
.pins-info .container-icon {
  width: 58px;
  height: 30px;
  padding: 7px;
  margin-right: 10px;
  background-color: var(--yellow-icon);
  border-radius: 3px;
}
.shield {
  position: absolute;
  width: 16px;
  height: 16px;
  background-image: url('../assets/icons/shield.png');
  background-size: cover;
}
.star {
  position: absolute;
  width: 16px;
  height: 16px;
  background-image: url('../assets/icons/star.png');
  background-size: cover;
}
.container-info .pins-info p {
  color: var(--dark-blue);
  font-size: 12px;
}
.background-square2 {
  position: absolute;
  z-index: 0;
  top: 350px;
  left: 45%;
  width: 160px;
  height: 160px;
  background-color: var(--background-square);
  transform: rotate(45deg);
}
.pin-schedule {
  display: flex;
  width: 350px;
  margin-top: 50px;
  align-items: center;
}
.container-icon {
  width: 34px;
  height: 30px;
  padding: 7px;
  margin-right: 10px;
  background-color: var(--blue-icon);
  border-radius: 3px;
}
.clock {
  position: absolute;
  width: 16px;
  height: 16px;
  background-image: url('../assets/icons/clock.png');
  background-size: cover;
}
.container-info .pin-schedule p {
  color: var(--dark-blue);
  font-size: 16px;
}
.main .container-img {
  display: flex;
  z-index: 2;
  width: 50%;
  height: 100vh;
  align-items: flex-end;
  justify-content: center;
  background: var(--blue-gradient);
}
.main .doctor-img {
  width: 360px;
  height: 600px;
  padding-top: 100px;
  background-image: url('../assets/img/Doctor.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.main .container-schedule {
  display: flex;
  width: 720px;
  height: 120px;
  position: absolute;
  z-index: 3;
  left: 9%;
  bottom: 30px;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--transparent-white);
  box-shadow: 0px 20px 22px -7px var(--shadow-blue);
  backdrop-filter: blur(3px);
  border-radius: 4px;
}
.main .schedule {
  display: flex;
  justify-content: center;
}
.schedule .container-icon {
  width: 30px;
}
.location {
  position: absolute;
  width: 16px;
  height: 16px;
  background-image: url('../assets/icons/location.png');
  background-size: cover;
}
.date {
  position: absolute;
  width: 16px;
  height: 16px;
  background-image: url('../assets/icons/date.png');
  background-size: cover;
}
.edit {
  position: absolute;
  width: 16px;
  height: 16px;
  background-image: url('../assets/icons/edit.png');
  background-size: cover;
}
.schedule-title {
  color: var(--grey);
  margin: 4px 0 8px 0;
}
.schedule-info {
  font-size: 18px;
  font-weight: 600;
  color: var(--dark-blue);
}
.btn-submit p {
  font-size: 14px;
  padding: 14px 34px;
}

/* Section Benefits Styles */
.benefits {
  width: 100%;
  height: 100vh;
}
.benefits .container-brands {
  display: flex;
  width: 100%;
  height: 20vh;
  justify-content: space-evenly;
  align-items: center;
}
.astraZeneca, .sinovac, .pfizer, .moderna {
  width: 220px;
  height: 80px;
  background-image: url('../assets/img/astrazeneca.png');
  background-size: cover;
  background-position: center;
  object-fit: contain;
}
.container-brands .sinovac {
  background-image: url('../assets/img/Sinovac.png');
}
.container-brands .pfizer {
  background-image: url('../assets/img/Pfizer.png');
}
.container-brands .moderna {
  background-image: url('../assets/img/moderna.png');
}
.background-square3-size {
  position: absolute;
  width: 200px;
  height: 200px;
  top: 840px;
  right: 0%;
  overflow: hidden;
}
.background-square3 {
  width: 140px;
  height: 140px;
  margin: 30px 0px 0px 130px;
  background-color: var(--background-square);
  transform: rotate(45deg);
}
.benefits h2 {
  font-size: 36px;
  color: var(--dark-blue);
  padding: 2% 0 2% 9%;
}
.benefits p {
  width: 590px;
  color: var(--grey);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  padding-left: 9%;
}
.card-container {
  display: flex;
  width: 1170px;
  margin: 3% 0 0 9%;
  justify-content: space-between;
}
.card {
  width: 274px;
  height: 320px;
  cursor: pointer;
  padding-top: 38px;
  padding-left: 8px;
  border: 1px solid var(--border-blue);
  border-radius: 4px;
}
.card:hover {
  box-shadow: 0px 20px 42px -7px var(--shadow-blue);
  width: 280px;
  transition: 0.5s;
}
.card .container-icon {
  width: 48px;
  height: 48px;
  padding: 11px;
  margin-left: 20px;
  border-radius: 6px;
}
.settings {
  position: absolute;
  width: 26px;
  height: 26px;
  background-image: url('../assets/icons/settings.png');
  background-size: cover;
}
.shield-blue {
  position: absolute;
  width: 26px;
  height: 26px;
  background-image: url('../assets/icons/shieldblue.png');
  background-size: cover;
}
.people {
  position: absolute;
  width: 26px;
  height: 26px;
  background-image: url('../assets/icons/people.png');
  background-size: cover;
}
.notification {
  position: absolute;
  width: 26px;
  height: 26px;
  background-image: url('../assets/icons/notification.png');
  background-size: cover;
}
.card .title-card {
  width: 180px;
  margin: 24px 0 12px 0;
  color: var(--dark-blue);
  font-size: 18px;
}
.card p {
  width: 240px;
  color: var(--grey);
  font-size: 14px;
}

/* Section Preparations Styles */
.preparations {
  display: flex;
  width: 100%;
  height: 100vh;
}
.background-square4 {
  position: absolute;
  top: 1490px;
  right: 96%;
  width: 180px;
  height: 180px;
  background-color: var(--background-square);
  transform: rotate(45deg);
}
.container-preparations-img {
  width: 45%;
  height: 100vh;
}
.background-image-person {
  display: flex;
  position: relative;
  width: 100%;
  height: 52%;
  top: 290px;
  align-items: flex-end;
  background: var(--blue-gradient);
}
.image-person {
  position: absolute;
  width: 640px;
  height: 580px;
  background-image: url('../assets/img/Person.png');
  background-size: cover;
  object-fit: contain;
}
.container-info-preparations {
  width: 55%;
  height: 100vh;
  padding: 6% 9% 0% 5%;
}
.container-info-preparations h2 {
  color: var(--dark-blue);
  font-size: 32px;
}
.container-info-preparations p {
  width: 490px;
  margin: 40px 0px 28px 0px;
  color: var(--grey);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
}
.container-list {
  display: flex;
  width: 500px;
  height: 385px;
  flex-direction: column;
  justify-content: space-between;
}
.list {
  display: flex;
  width: 500px;
  height: 70px;
  padding: 20px;
  align-items: center;
  border-radius: 4px;
}
.container-icon-list {
  width: 24px;
  height: 22px;
  padding: 6px;
  margin-right: 10px;
  background-color: var(--blue-icon);
  border-radius: 3px;
}
.shield-blue2 {
  position: absolute;
  width: 16px;
  height: 16px;
  background-image: url('../assets/icons/shieldblue.png');
  background-size: cover;
}
.cross {
  position: absolute;
  width: 16px;
  height: 16px;
  background-image: url('../assets/icons/cross.png');
  background-size: cover;
}
.graphs {
  position: absolute;
  width: 16px;
  height: 16px;
  background-image: url('../assets/icons/graphs.png');
  background-size: cover;
}
.check {
  position: absolute;
  width: 16px;
  height: 16px;
  background-image: url('../assets/icons/check.png');
  background-size: cover;
}
.heart {
  position: absolute;
  width: 16px;
  height: 16px;
  background-image: url('../assets/icons/heart.png');
  background-size: cover;
}
.icon-list {
  position: absolute;
  width: 10px;
  height: 10px;
  background-image: url('../assets/icons/more.png');
  background-size: cover;
}
.container-list .list p {
  color: var(--dark-blue);
  margin: 0;
}
.list:hover {
  box-shadow: 0px 20px 42px -7px var(--shadow-blue);
  transition: 0.5s;
}

/* Section Emergency Contacts Styles */
.emergency-contact {
  display: flex;
  width: 100%;
  height: 110vh;
}
.emergency-info {
  width: 55%;
  height: 100vh;
}
.emergency-info h2 {
  font-size: 36px;
  color: var(--dark-blue);
  padding: 9% 0 2% 16%;
}
.emergency-info p {
  width: 620px;
  padding: 1% 0 2% 16%;
  color: var(--grey);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
}
.container-contacts {
  display: flex;
  width: 530px;
  height: 410px;
  margin: 6% 16%;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}
.contact {
  display: flex;
  width: 48%;
  height: 48%;
  padding: 28px;
  flex-wrap: wrap;
  border: 1px solid var(--border-blue);
  border-radius: 4px;
}
.icon {
  width: 48px;
  height: 48px;
  padding: 9px;
  background-color: var(--shadow-blue-icon);
  border-radius: 3px;
}
.call {
  position: absolute;
  width: 30px;
  height: 30px;
  background-image: url('../assets/icons/call.png');
  background-size: cover;
}
.chat {
  position: absolute;
  width: 30px;
  height: 30px;
  background-image: url('../assets/icons/chat.png');
  background-size: cover;
}
.videocall {
  position: absolute;
  width: 30px;
  height: 30px;
  background-image: url('../assets/icons/videocall.png');
  background-size: cover;
}
.message {
  position: absolute;
  width: 30px;
  height: 30px;
  background-image: url('../assets/icons/message.png');
  background-size: cover;
}
.contact-info {
  width: 140px;
}
.contact-info .title {
  color: var(--dark-blue);
  font-size: 18px;
}
.contact-info p {
  color: var(--grey);
  font-size: 12px;
}
.contact .btn-custom {
  display: flex;
  padding: 0;
  color: var(--secondary-blue);
  font-weight: 600;
  align-items: center;
  justify-content: center;
  background-color: var(--shadow-blue-icon);
  box-shadow: none;
}
.contact .btn-custom:hover {
  color: white;
  background-color: var(--primary-blue);
  box-shadow: 0px 20px 42px -7px var(--shadow-blue);
  transition: 0.5s;
}
.emergency-img {
  width: 45%;
  height: 100vh;
}
.background-image-nurse {
  display: flex;
  position: relative;
  width: 100%;
  height: 409px;
  top: 275px;
  align-items: flex-end;
  background: var(--blue-gradient);
}
.img-nurse {
  position: absolute;
  width: 640px;
  height: 580px;
  background-image: url('../assets/img/Nurse.png');
  background-size: cover;
  object-fit: contain;
  transform: scaleX(-1);
}
.background-square5-size {
  position: absolute;
  width: 200px;
  height: 200px;
  top: 2180px;
  right: 0%;
  overflow: hidden;
}
.background-square5 {
  width: 140px;
  height: 140px;
  margin: 30px 0px 0px 130px;
  background-color: var(--background-square);
  transform: rotate(45deg);
}

/* Footer Styles */
footer {
  position: relative;
  display: flex;
  width: 100%;
  height: 40vh;
  padding: 4% 9% 0% 9%;
  z-index: 2;
  color: var(--grey);
  font-size: 14px;
  background-color: var(--blue-white);
}
.left {
  width: 50%;
  height: 100%;
}
.title {
  font-size: 24px;
  font-weight: 700;
  color: var(--secondary-blue);
}
.info-vaccination {
  width: 200px;
  margin: 20px 0px 78px 0px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.5;
}
.right {
  display: flex;
  width: 49%;
  height: 100%;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.content {
  width: 140px;
  height: 160px;
}
.content p {
  margin-bottom: 20px;
  color: var(--dark-blue);
  font-size: 18px;
  font-weight: 600;
}
.content ul {
  list-style: none;
}
.content li {
  margin: 12px 0px;
}
.right p {
  position: relative;
  margin-right: 20px;
  z-index: 2;
}
.background-square6-size {
  position: absolute;
  width: 200px;
  height: 100px;
  bottom: 0px;
  right: 200px;
  z-index: 0;
  overflow: hidden;
}
.background-square6 {
  width: 140px;
  height: 140px;
  margin: 30px 0px 0px 30px;
  background-color: #e2e9f9;
  transform: rotate(45deg);
}